USE [master]
GO
/****** Object:  Database [ADOTaskDatabase]    Script Date: 15.05.2020 19:23:17 ******/
CREATE DATABASE [ADOTaskDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ADOTaskDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ADOTaskDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ADOTaskDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ADOTaskDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ADOTaskDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ADOTaskDatabase]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 15.05.2020 19:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Awards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Linkers]    Script Date: 15.05.2020 19:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Linkers](
	[IdUser] [int] NOT NULL,
	[IdAward] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15.05.2020 19:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Linkers]  WITH CHECK ADD  CONSTRAINT [FK_Linkers_Awards] FOREIGN KEY([IdAward])
REFERENCES [dbo].[Awards] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Linkers] CHECK CONSTRAINT [FK_Linkers_Awards]
GO
ALTER TABLE [dbo].[Linkers]  WITH CHECK ADD  CONSTRAINT [FK_Linkers_Users] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Linkers] CHECK CONSTRAINT [FK_Linkers_Users]
GO
USE [master]
GO
